# This file contains local (camera-specific) settings that
# are not supposed to be kept in the source code repository.

# The local directory into which all pictures are saved before
# they are uploaded to the webservice.
PICTURES_DIR = '/var/HallCam/pictures/'

# The URL of the webservice that the pictures are uploaded to.
# For example:
# UPLOAD_URL = "http://192.168.1.90:8000/upload/"
UPLOAD_URL = None

# This password is given to the upload form of the webservice.
UPLOAD_PASSWORD = "insecure password QJgrQs9iHJH43e"
