{% extends "Core/bs5_base.html" %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'glightbox/css/glightbox.css' %}">
{% endblock %}

{% block extrascript %}
    <script src="{% static 'glightbox/js/glightbox.min.js' %}"></script>
    <script>
        const lightbox = GLightbox({
            slideEffect: 'fade',
        });
    </script>
{% endblock %}

{% block content %}

{% if collages is not None %}
<div class="container-fluid">
    {% for collage in collages %}
        <h2 class="text-center mt-5"><small>{{ collage.camera.name }}</small></h2>
        <p class="lead text-muted text-center">{{ collage.camera.scene }}</p>

        {% if collage.latest %}
            <div class="row gx-2 gy-2 mt-3">{# `gy-*` is relevant for narrow screens when the two main columns are stacked. #}
                <div class="col-xl-6">
                    <div class="row row-cols-2 row-cols-sm-4 row-cols-md-4 row-cols-lg-6 row-cols-xl-4 row-cols-xxl-6 gx-0 gy-2">
                        {% for pic in collage.series %}
                            <div class="col">
                                <div class="card">
                                    {% if pic %}
                                        <a class="glightbox" href="{{ pic.get_image_url }}"><img class="card-img-top" src="{{ pic.get_thumb_url }}" alt="image"></a>
                                    {% endif %}
                                    <div class="card-body p-0">
                                        <p class="card-text text-center text-muted small">{{ pic.timestamp|date:"H:i"|default:'kein Bild' }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-xl-6">
                    <img class="img-fluid" src="{{ collage.latest.get_image_url }}" alt="image">
                </div>
            </div>
        {% else %}
            <p class="text-center text-muted">Es sind keine Bilder vorhanden.</p>
        {% endif %}
    {% empty %}
        <p class="text-center text-muted">Es sind keine Bilder vorhanden.</p>
    {% endfor %}
</div>
{% endif %}

{% if cam_pics is not None %}
<div class="container-fluid">
    {% for cp_set in cam_pics %}
        <h2 class="text-center mt-5"><small>{{ cp_set.camera.name }}</small></h2>
        <p class="lead text-muted text-center">{{ cp_set.camera.scene }}</p>

        {% if cp_set.pictures %}
            <div class="row gx-0 gy-2">
                {% for pic in cp_set.pictures %}
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 col-xxl-1">
                        <div class="card">
                            {% if pic %}
                                <a class="glightbox" href="{{ pic.get_image_url }}"><img class="card-img-top" src="{{ pic.get_thumb_url }}" alt="image"></a>
                            {% endif %}
                            <div class="card-body p-0">
                                <p class="card-text text-center text-muted small">{{ pic.timestamp|date:"H:i"|default:'kein Bild' }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-center text-muted">Es sind keine Bilder vorhanden.</p>
        {% endif %}
    {% empty %}
        <p class="text-center text-muted">Es sind keine Bilder vorhanden.</p>
    {% endfor %}
</div>
{% endif %}

{% endblock %}
