{% extends "Core/bs5_base.html" %}
{# load static #}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col" style="max-width: 600px;">
            <form method="post" enctype="multipart/form-data">
                <div class="card border-0 shadow-sm">
                    <div class="card-body px-4 pt-4 pb-0">
                        {# csrf_token #}
                        {% include 'Core/inc_bs5_form_simple.html' with form=form only %}
                    </div>
                    <div class="card-footer border-top-0 px-4 py-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
