{% extends "Core/bs5_base.html" %}
{# load static #}

{% block extrastyle %}
    <style>
        div.upload_form {
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col upload_form">
            <form method="post" enctype="multipart/form-data">
                {# csrf_token #}
                {% include 'Core/inc_bs5_form_simple.html' with form=form only %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
